body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background: rgb(206,237,226)!important ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
